
  #container {
    display: grid;
    grid-gap: 5px;
    grid-template-rows: repeat(var(--grid-rows), 3em);
    grid-template-columns: repeat(var(--grid-cols), 3em);
    justify-content: center;
  }
  
  .grid-item {
    padding: 1em;
    border: 0.5px solid #ddd;
    text-align: center;
    transition: all 0s ease 60s; /*delay 1s*/
  }
  
  .grid-item:hover {
    background-color: black;
    color: white;
    transition-delay: 0s;
  visibility: visible;

  }
 button {
  padding: 2em;
 }